name: deploy3

on:
  pull_request:
    types:
      - opened
    paths-ignore:
      - '.github/workflows/*'
    branches:
      - master
  workflow_dispatch:
  push:
    branches:
      - master
    paths-ignore:
      - '.github/workflows/*'

jobs:
    deploy:
        runs-on: ubuntu-latest
        steps:
            - name: Download script
              uses: actions/checkout@v3
            - name: install nodejs
              uses: actions/setup-node@v3
              with:
                  node-version: 18
            - name: install dependencies
              run: npm ci
            - name: lint
              run: npm run lint
            - name: test
              run: npm run test
            - name: build
              run: npm run build
            - name: deploy
              run: echo "Deploying..."

